.tweet {
    min-width: 65%;
    max-width: 65%;
    margin-left: 10%;
    font-family: Roboto;
    font-weight: lighter;
    color: #1DA1F2;
}


.reason {
    margin-left: 11%;
    max-width: 60%;
    font-weight: lighter;
}